<div class="container-fluid" style="cursor:pointer;background-color:#f8f8f8">
  <div class="row">
    <div class="col-md-10">
      <h3>{{name}}</h3>
    </div>
    <div class="col-md-2">
      <a style="cursor:pointer" (click)="download()">Download</a>
    </div>

  </div>
  <chart [graph]="graph" (hoveredSeries)="seriesHovered($event)"></chart>
  <div>
    <div *ngFor="let point of hoveredSeries">
      {{point.tag}}:{{point.value}}: <div [style.backgroundColor]="point.color" style="width:10px;height:10px;display:inline-block"></div>
    </div>
  </div>
</div>
