<div class="container-fluid full-height no-gutters" style="background-color:#282828">

  <div class="row full-height">
    <div class="col-md-4" style="padding-top:10px">
      <button (click)="click()">Add A Graph</button>
      <sidebar *ngIf="(selectedGraph$ | async) !== undefined" [graph]="selectedGraph$ | async" ></sidebar>
    </div>
    <div class="col-md-8" style="background-color:white;overflow-y:scroll">

      <graph *ngFor="let graph of graphs$ | async;trackBy:trackGraph" [graph]="graph" (click)="selectGraph(graph)"></graph>
    </div>
  </div>

</div>
