/* You can add global styles to this file, and also import other style files */

/**
  import bootstrap
 */
@import "../node_modules/bootstrap/scss/bootstrap.scss";


/**
  global class for full height
 */

.full-height {
  height: 100%;
}
