<div style="width:100%">
  <input type="text" style="width:100%" [(ngModel)]='value' (ngModelChange)='valueChanged($event)' (blur)="blur($event)" [style.background-color]="backgroundColorValid()">
  <div style="position:absolute;z-index:1;background-color:lightgrey">
    <div *ngFor="let option of options" class="dropdown-option" (mouseenter)="optionHighlite(option)" [style.background-color]="getOptionColor(option)" (click)="optionClicked(option)">
      <a>{{option.dlTagName}}</a>
    </div>
  </div>
</div>
