<div style="background-color:#f8f8f8;margin-top:10px">
  <div *ngIf="editName">
    <input type="text" [ngModel]="graph.name" (keydown)="finalizeNameChange($event)" (blur)="editName = false">
  </div>
  <div *ngIf="!editName" (click)="editName = true">
    {{name}}
  </div>

  <div>
    Start Time: <input #startTime [ngModel]="graph.startTime | date:'yyyy-MM-dd'" (keydown)="finalizeStartTime($event)" (blur)="finalizeStartTime(startTime.value)" type="date">
  </div>

  <div>
    End Time: <input #endTime [ngModel]="graph.endTime | date:'yyyy-MM-dd'" (keydown)="finalizeEndTime($event)" (blur)="finalizeEndTime(endTime.value)" type="date" >
  </div>

  <div>
    Add Data:
    <autocomplete #autocomplete [searchTemplate]="'/tags/'" (selectedValue)="seriesNameChanged($event)"></autocomplete>
    <input type="color" [(ngModel)]="color"/>
    <button (click)="addData(); autocomplete.removeOptions()" [disabled]="!canAdd()">ADD</button>
  </div>

  <div *ngIf="series.length !== 0">
    <div *ngFor="let currentSeries of series">
      {{currentSeries.name}} : <div [style.backgroundColor]="currentSeries.color" style="width:10px;height:10px;display:inline-block"></div>
    </div>
  </div>

</div>
